
//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cerulean/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

// Whatever application styles you have go last
@import "bootstrap-datetimepicker.min";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }
.main { padding: 0 60px; }
#flash_messages { width: 50%; }
.table.content { margin-top: 20px; }
